@media screen and (max-width:936px){
   
    nav{
        flex-direction: column;
    }
    .search{
        margin: 0 75px;
       margin-bottom:16px;
    }
    .logoset{
        margin-right: 99px;
        margin-left: 90px;
        margin-top:30px;
        justify-content: center;

    }
    /* ul{
        justify-content: center;
        margin-left: 10px;
    } */
    .search input{
        margin-top:14px;
        width: 45vw;
        margin-left: 35px;
       
    }
    .slider img{
        width: 350px;
        height: 220px;
        margin-left: 4px;
    }
    .center{
        margin-left: 77px;
    }
}
