@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
:root{
    --main-bg-color:rgb(40, 116, 240);
}
*{
    margin: 0;
    padding: 0;
}

header{
    
    background-color: var(--main-bg-color)
    
}
nav {
    display: flex;
   
}
.logoset{
    display: flex;
    align-items: center;
    padding: 0 22px;
}

.search{
    
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 103px;
}
.search input{
    height: 30px;
    width: 30vw;
    border-radius: 4px;
    border: 2px solid black;
    
}
.search img{
    
    padding: o 10px;
}
.searchimg{
    padding: 0 10px;
    display: flex;
    
}

    
nav ul{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin: 4px;
    color: white;
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    
}
 li:hover{
    font-weight: bolder;
}
.container{
    height: calc(100vh - 50px);
    overflow-y: scroll;
} 

.slider{
    display: flex;
    margin: 10px 0;
    justify-content: center;
    width:80vw;
}

.cart{
    display: flex;
    align-items: center;
}
.cart p{
    margin-left: 15px;
    margin-bottom: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.card{
    max-width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.card h2{
    font-family: 'Montserrat', sans-serif;
}

.card-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.card-item img{
    padding-left: 10px;
    padding-right: 10px;
}
.text-center{
   margin: 9px;
   padding-left: 8px;
   padding-right: 8px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
}
.my-1{
    margin: 23px 0;
    padding-left: 15px;
}

.flex-all-center{
    height: 8vh;
    display: flex;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    
    background-color: var(--main-bg-color)
   }
   .flex-all-center a{
    color: white;
    text-decoration: none;
   }
.flex-all-center a :hover{
    color: black;
}
